/* Countdown.css */

/* Container for the countdown section */
.countdown-container {
    background: url('./counter.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    /* Full viewport height */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Flex container for time units */
.countdown-time-units {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
}

/* Individual time unit container */
.countdown-time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Labels for time units */
.countdown-time-label {
    font-size: 2.5rem;
    color: white;
}

/* Time values */
.countdown-time-value {
    font-size: 5rem;
    font-weight: bold;
    color: white;
}

/* GRAND FINALE section */
.grand-finale {
    margin-top: 3rem;
    text-align: center;
}

/* GRAND FINALE text */
.grand-finale-text {
    font-size: 6rem;
    font-weight: bold;
    color: white;
}

/* Countdown.css */

.countdown-overlay {
    position: absolute;
    top: 45%;
    /* Adjust this value to position the overlay lower */
    right: 35%;
    /* Adjust this value as needed */
    left: 15.5%;
    /* Adjust this value as needed */
    width: 50%;
    height: 50%;
    /* Adjust this value to make the overlay shorter */
    background-image: url('./counter/counterNoBg.png');
    background-size: cover;
    background-position: center;
    z-index: 5;
}


.countdown-content {
    position: relative;
    z-index: 2;
}
