/* Countdown container */
.countdown-container {
    background: url('../../../public/counter/counter.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'SF Pro Display', sans-serif;
    /* Default font */
}

/* Flex container for time units */
.countdown-time-units {
    display: flex;
    gap: 8rem;
    /* Increased space between time units */
    margin-bottom: 4rem;
}

/* Individual time unit container */
.countdown-time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
    /* Added more padding */
    position: relative;
}

/* Labels for time units */
.countdown-time-label {
    font-family: 'Carbon', sans-serif;
    /* Font for labels */
    font-size: 5rem;
    /* Increased font size */
    color: white;
    position: absolute;
    /* Changed to absolute positioning */
    left: -4rem;
    /* Shift labels to the left */
    margin-bottom: 0;
    /* No bottom margin needed */
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    /* Darker shadow for better readability */
    z-index: 1;
    /* Ensure labels are below values */
}

/* Time values */
.countdown-time-value {
    font-family: 'SF Pro Display', sans-serif;
    /* Font for values */
    font-size: 12.5rem;
    /* Increased font size */
    font-weight: bold;
    /* Darkish color for Apple font style */
    position: relative;
    z-index: 2;
    /* Ensure values are above labels */
    padding-top: 2.75rem !important;
}

/* GRAND FINALE section */
.grand-finale {
    position: absolute;
    bottom: 2rem;
    text-align: center;
    width: 100%;
    z-index: 2;
}

/* GRAND FINALE text */
.grand-finale-text {
    font-family: 'Inter', sans-serif;
    /* Font for GRAND FINALE text */
    font-size: 6rem;
    /* Increased font size */
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

/* Overlay Styles */
.countdown-overlay {
    position: absolute;
    top: 19.75%;
    left: -4.5%;
    width: 90%;
    height: 100%;
    background-image: url('../../../public/counter/counterNoBg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 15;
}
