/* src/styles/components/Hero.css */

.hero-container {
  position: relative;
  background-color: #1e3a8a;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  z-index: 10;
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 1;
  margin-top: -15vh;
  /* Adjust this value if needed */
}

.hero-heading {
  font-size: 15rem;
  font-weight: 1000;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;
  transition: transform 0.3s ease;
}

.hero-heading:hover {
  transform: scale(1.05);
}

.hero-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: 0;
  top: 10%;
  /* Adjusted value to move the image lower */
}

@media (min-width: 360px) and (max-width: 1200px) {
  .hero-heading {
    font-size: 4rem;
  }
}
