/* Intro.css */

.intro-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/bdc.png');
    overflow: hidden;
}

.intro-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    will-change: opacity, transform;
}

.intro-title-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    will-change: transform;
}

.intro-title {
    font-size: 10vw;
    font-weight: 700;
    color: white;
    text-align: center;
    display: inline-block;
    animation: scrollText 20s linear infinite;
    font-family: 'SF Pro Display', sans-serif;
    will-change: transform;
}

.intro-title::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 10vw;
    font-weight: 700;
    color: white;
    font-family: 'SF Pro Display', sans-serif;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.intro-stats {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.intro-stat-card {
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
}

.intro-stat-number {
    font-size: 8rem;
    font-weight: 700;
    color: #A9A9A9;
    font-family: 'SF Pro Display', sans-serif;
    will-change: text-shadow;
}

.intro-stat-text {
    font-size: 3rem;
    color: #A9A9A9;
    font-family: 'IBM Plex Sans', sans-serif;
    will-change: color;
}

@media (max-width: 768px) {
    .intro-title {
        font-size: 5vw;
    }

    .intro-stats {
        flex-direction: column;
    }

    .intro-stat-number {
        font-size: 8rem;
    }

    .intro-stat-text {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .intro-title {
        font-size: 4rem; /* Increase font size for very small screens */
    }

    .intro-stat-number {
        font-size: 4.5rem;
    }

    .intro-stat-text {
        font-size: 1.5rem;
    }
}
