/* Intro.css */

.intro-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/bdc.png');
    overflow: hidden;
    /* Ensure scrolling effect stays within bounds */
}

.intro-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Endless Scroll Animation */
.intro-title-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1rem;
    /* Increase the space between title and metrics */
}

.intro-title {
    font-size: 12.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
    display: inline-block;
    animation: scrollText 30s linear infinite;
    /* Make the scroll slower */
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Intro Stats Styles */
.intro-stats {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    /* Adjust distance from the title if needed */
}

.intro-stat-card {
    background-color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro-stat-number {
    font-size: 4rem;
    font-weight: 700;
    color: #6b21a8;
}

.intro-stat-text {
    font-size: 1.25rem;
    color: #4a5568;
}

@media (min-width: 360px) and (max-width: 1024px) {
    .intro-title {
        font-size: 4rem;
    }
    .intro-stats{
        flex-direction: column;
    }
  }
  
