.intro-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('../../../public/bdc.png');
    overflow: hidden;
}

.intro-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-title-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1rem;
}

.intro-title {
    font-size: 15vw;
    font-weight: 700;
    color: white;
    text-align: center;
    display: inline-block;
    animation: scrollText 30s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.intro-stats {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}

.intro-stat-card {
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    /* Make background transparent */
}

.intro-stat-number {
    font-size: 6rem;
    /* Increase font size */
    font-weight: 700;
    color: white;
    /* Whitish text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    /* 3D effect */
}

.intro-stat-text {
    font-size: 2rem;
    /* Increase font size */
    color: white;
    /* Whitish text */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    /* 3D effect */
}

@media (min-width: 360px) and (max-width: 1024px) {
    .intro-title {
        font-size: 4rem;
    }

    .intro-stats {
        flex-direction: column;
    }
}
