.timeline {
    overflow: hidden;
    background-size: cover;
    background-blend-mode: overlay;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.timeline-container {
    width: 100%;
}

.timeline-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-heading {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 5vh;
    font-family: var(--font-sora);
}

.timeline-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timeline-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
    font-size: 1.5rem;
    color: white;
    font-family: var(--font-sora);
    width: 100%;
    max-width: 800px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
}

.timeline-item.loaded {
    opacity: 1;
    transform: translateY(0);
}

.timeline-dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 1rem;
}

.timeline-dot {
    height: 2rem;
    width: 2rem;
    background: linear-gradient(45deg, #d7336f, #ff6f91);
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-dot::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background: white;
    transform: translateX(-50%);
    z-index: -1;
}

.timeline-dot-container:first-child .timeline-dot::before {
    display: none;
    /* No line before the first dot */
}

.timeline-dot-container:last-child .timeline-dot::before {
    height: 50%;
    /* Half the height for the last dot */
}

.timeline-item.loaded .timeline-dot {
    transform: scale(1.2);
    box-shadow: 0 0 25px rgba(255, 111, 145, 0.5);
}

.timeline-text {
    background: rgba(0, 0, 0, 0.7);
    padding: 1.5rem 2rem;
    border-radius: 10px;
    flex-grow: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    color: white;
}

.timeline-text.left {
    margin-left: 3rem;
    text-align: left;
}

.timeline-text.right {
    margin-right: 3rem;
    text-align: right;
}

.timeline-item.loaded .timeline-text {
    transform: translateX(0);
}

.timeline-text.left {
    transform: translateX(-50px);
}

.timeline-text.right {
    transform: translateX(50px);
}

.event-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--font-sora);
}

.event-date {
    font-size: 1.2rem;
    font-family: var(--font-sora);
}

@media (min-width: 360px) and (max-width: 1200px) {
    .timeline-item {
      flex-direction: column;
    }
  }
