@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
}


@layer base {
  body {
    @apply font-sans text-n-1 text-base;
  }
}

.btn-gradient {
  background: linear-gradient(90deg, #0F0C29 0%, #302B63 50%, #24243E 100%);
  border: 2px solid white;
  color: white;
}


.container-inbuilt {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  /* Optional: Add padding for spacing */
}

/* Define specific section sizes */
.section-100 {
  min-height: 100vh;
}

.section-75 {
  min-height: 75vh;
}

.section-50 {
  min-height: 50vh;
}

.section-25 {
  min-height: 25vh;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: none;
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(219, 52, 191, 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(191, 0, 255, 0.9);
  /* Darker color with transparency when hovered */
}
