@import url('https://fonts.googleapis.com/css2?family=Carbon:wght@400;700&display=swap');

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.bg-cover {
  background-size: cover;
}

.bg-left {
  background-position: left;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  color: #ffffff;
}

.text-gray-300 {
  color: #D1D5DB;
}

.text-gray-400 {
  color: #9CA3AF;
}

.font-carbon {
  font-family: 'Carbon', sans-serif;
}

.p-4 {
  padding: 1rem;
}

.title-text {
  font-size: 2rem;

  @media (min-width: 640px) {
    font-size: 3rem;
  }

  @media (min-width: 768px) {
    font-size: 4rem;
  }

  @media (min-width: 1024px) {
    font-size: 5rem;
  }

  @media (min-width: 1280px) {
    font-size: 6rem;
  }

  color: white;
  font-weight: bold;
}

.subtitle-text {
  font-size: 1rem;

  @media (min-width: 640px) {
    font-size: 1.5rem;
  }

  @media (min-width: 768px) {
    font-size: 2rem;
  }

  @media (min-width: 1024px) {
    font-size: 3rem;
  }

  @media (min-width: 1280px) {
    font-size: 4rem;
  }

  color: #D1D5DB;
}

.content-text {
  font-size: 1rem;

  @media (min-width: 640px) {
    font-size: 1.125rem;
  }

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }

  @media (min-width: 1280px) {
    font-size: 1.875rem;
  }

  color: #9CA3AF;
  font-family: 'Carbon',
  sans-serif;
}

/* Responsive Adjustments */
@media (max-width: 768px) {

  .top-40,
  .bottom-40 {
    top: 20rem;
    bottom: 20rem;
  }

  .left-10,
  .right-10 {
    left: 1rem;
    right: 1rem;
  }

  .text-left,
  .text-right {
    text-align: center;
  }

  .content-text {
    font-size: 0.875rem;
  }
}
