@import url('https://fonts.googleapis.com/css2?family=Carbon:wght@400;700&display=swap');

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  color: #ffffff;
}

.font-carbon {
  font-family: "t26-carbon", monospace;
  font-weight: 400;
  font-style: normal;
}

.p-4 {
  padding: 1rem;
}

.title-text {
  font-family: "reross-quadratic", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.content-text {
  font-size: 1rem;

  @media (min-width: 640px) {
    font-size: 1.125rem;
  }

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }

  @media (min-width: 1280px) {
    font-size: 1.75rem;
  }

  color: #ffffff;
  font-family: "t26-carbon", monospace;

}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .top-24 {
    top: 8rem;
    /* Adjusted to create more space below the title */
  }

  .bottom-24 {
    bottom: 8rem;
    /* Adjusted to create more space above the bottom of the screen */
  }

  .content-text {
    font-size: 1.125rem;
    /* Increased font size for better readability on mobile */
  }

  .mobile-text {
    padding: 1.5rem;
    /* Adjust padding for mobile */
    /* Semi-transparent background for better readability */
    /* Rounded corners */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
  }


  .text-left,
  .text-right {
    text-align: center;
  }
}