/* Awards.css */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fadeInUp 0.6s forwards;
}

.animate-fade-in-up.delay-2s {
    animation-delay: 0.2s;
}

.animate-fade-in-up.delay-4s {
    animation-delay: 0.4s;
}
