.contact-container {
  padding: 20px;
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  /* Reduced from 100vh to 80vh */
}

.contact-title-container {
  text-align: center;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
  /* Reduced margin-bottom */
}

.contact-title {
  font-size: 5rem;
  font-weight: bold;
  font-family: "reross-quadratic", sans-serif;
  font-weight: 400;
  font-style: bold;
  margin-top:-20px;
  margin-bottom: 10px;
}

.contact-subtitle {
  font-size: 2rem;
  font-family: "t26-carbon", monospace;
font-weight: 400;
font-style: normal;
margin-top: -20px;
  margin-bottom: 20px;
}

.contact-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.contact-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 0px;
  width: 100%;
  max-width: 320px;
  height:480px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.contact-card:hover {
  transform: translateY(-10px);
}

.contact-card-image {
  width: 500px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;

}

.contact-card-title {
  font-size: 1.3rem;
  font-family: "reross-quadratic", sans-serif;
font-weight: 400;
font-style: normal;
  margin-bottom: 0;
  color: #ffffff;
}

.contact-card-name {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'SF Pro Display', sans-serif;
  margin-bottom: 10px;
  color: #dddddd;
}

.contact-card-detail {
  font-size: 1.2rem;
  font-family: "t26-carbon", monospace;
font-weight: 400;
font-style: normal;
  color: #bbbbbb;
}

.contact-card-email {
  color: #bbbbbb;
  text-decoration: none;
}

.contact-card-email:hover {
  color: #ffffff;
  text-decoration: underline;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 480px) {
  .contact-title {
    font-size: 3.4rem;
    font-weight: bold;
    font-family: "reross-quadratic", sans-serif;
    margin-top:-30px;
    margin-bottom: 10px;
  }

  .contact-subtitle{
    font-size: 2rem;
    font-family: "t26-carbon", monospace;
    margin-bottom: 20px;
  }
}

