/* General footer styling */
.footer {
  background-color: #1c1c1c;
  color: #e0e0e0;
  font-family:'Carbon',sans-serif;
  padding: 20px 10px;
  font-size: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.footer-info {
  flex: 3; /* Increase the flex value to make it larger */
  min-width: 500px; /* Adjust the minimum width */
  padding: 20px; /* Add padding for more space */
  border-radius: 10px; /* Optional: Add border-radius for better visuals */
}

.footer-connect {
  flex: 1; /* Keep the smaller flex value */
  min-width: 300px;
  text-align: right; /* Aligns content to the right */
  padding: 20px; /* Add padding for more space */
  border-radius: 10px; /* Optional: Add border-radius for better visuals */
}

.footer-title {
  font-size: 24px; /* Increase font size for the title */
  margin-bottom: 15px;
  background: linear-gradient(169deg, #D4C0F7 0%, #564E66 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: bold;
}

.footer-description {
  font-size: 17px;
}

.footer-email {
  margin-top: 15px; /* Increase margin for spacing */
  font-size: 16px; /* Increase font size for better visibility */
  color: #7d26af;
}

.social-media {
  display: flex;
  justify-content: flex-end; /* Aligns social media icons to the right */
  gap: 20px; /* Increase gap for more spacing */
  margin-bottom: 15px; /* Add margin for better spacing */
}

.social-media a {
  color: #e0e0e0;
  font-size: 26px; /* Increase font size for icons */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-media a:hover {
  color: #7d26af;
}

.footer-credits {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

.footer-credits p {
  margin: 0;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .footer {
    padding: 15px 5px;
  }

  .footer-title {
    font-size: 22px;
  }

  .footer-description {
    font-size: 14px;
  }

  .social-media a {
    font-size: 22px;
  }

  .footer-sections {
    flex-direction: column;
    align-items: center;
  }

  .footer-info,
  .footer-connect {
    text-align: center;
    padding: 15px; /* Adjust padding for mobile */
  }

  .social-media {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px 5px;
  }

  .footer-title {
    font-size: 20px;
  }

  .footer-description {
    font-size: 12px;
  }

  .social-media a {
    font-size: 20px;
  }

  .footer-info,
  .footer-connect {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}
