/* Intro.css */
.intro-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('./microIntro.png');
    overflow: hidden;
}

.intro-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    will-change: opacity, transform;
}

.intro-title-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    will-change: transform;
}

.intro-title {
    font-size: 10vw;
  font-weight: 700;
  font-family: "reross-quadratic", sans-serif;
font-style: bold;
    color: rgb(223, 185, 230);
    text-align: center;
    display: inline-block;
    animation: scrollText 20s linear infinite;
    will-change: transform;
}

.intro-title::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    white-space: nowrap;
    font-size: 10vw;
    font-weight: 700;
    color: rgb(223, 185, 230);
    font-family: 'SF Pro Display', sans-serif;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.intro-stats {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.intro-stat-card {
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
}

.intro-stat-number {
    font-size: 9rem;
    font-weight: 700;
    background: #E4EEF1;
background: linear-gradient(to top, #E4EEF1 4%, #C8C4CB 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    font-family: 'SF Pro Display', sans-serif;
    will-change: text-shadow;
}

.intro-stat-text {
    font-size: 3rem;
    color: #ffffff;
    font-family: "t26-carbon", monospace;
    font-weight: 400;
    font-style: normal; 
    will-change: color;
}

@media (max-width: 1024px){
    .intro-stats{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .intro-title {
        font-size: 5vw;
    }

    .intro-stats {
        flex-direction: column;
    }

    .intro-stat-number {
        font-size: 8rem;
    }

    .intro-stat-text {
        font-size: 2rem;
    }

    .intro-stat-card{
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .intro-title {
        font-size: 4rem; /* Increase font size for very small screens */
    }

    .intro-stat-number {
        font-size: 4.8rem;
    }

    .intro-stat-text {
        font-size: 1.8rem;
    }
}


@media (max-height: 480px){
    .intro-stats{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .intro-stat-number {
        font-size: 4.8rem;
    }

    .intro-stat-text {
        font-size: 1.8rem;
    }
}
