.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    background-color: black; /* Optional: Set background color */
  }