/* Default styles for desktop and larger screens */

.merch-container {
    font-family: "t26-carbon", monospace;
font-weight: 700;
font-style: normal;
    color: white;
    animation: gradientAnimation 10s ease infinite;
    padding: 5rem 0;
}

.merch-title {
    font-size: 5rem;
    font-weight: 400;
    font-family: "reross-quadratic", sans-serif;
font-style: normal;
    margin-top: -50px;
    margin-bottom: 4rem;
    text-align: center;
}

.merch-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.merch-card {
    background-color: #2d2d2d;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.merch-card:hover {
    transform: scale(1.05);
}

.merch-image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.merch-info {
    padding: 1rem;
}

.merch-name {
    font-size: 1.3rem;
}

.merch-price {
    font-weight: bold;
    font-size:1.25rem;
    font-family: 'SF Pro Display', sans-serif;
    margin-top: 0.5rem;
    color: #d7336f;
}

/* Ensure the popup stays on top of everything */
.merch-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* High z-index to stay on top */
    overflow: auto;
    /* Ensure it can handle overflow content */
}

.merch-popup {
    background: black;
    color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    position: relative;
    display: flex;
    max-width: 90%;
    max-height: 90%;
    width: 80%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    /* Ensure it is above the overlay */
}

.merch-popup-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 1002;
    /* Ensure it is above the popup */
}


.merch-popup-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.merch-popup-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.merch-popup-name {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.merch-popup-price {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'SF Pro Display', sans-serif;
    color: #d7336f;
    margin-bottom: 1rem;
}

.merch-popup-description {
    font-family: 'SF Pro Display', sans-serif;
    text-align: left;
    font-size: 1.1rem;
    color: white;
    margin-bottom: 1rem;
}

.merch-popup-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: #d7336f;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.merch-popup-thumbnails {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    overflow-x: auto;
    margin-top: 1rem;
}

.merch-popup-image {
    flex: 2;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.merch-popup-main-image {
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: contain;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #d7336f;
}

.merch-popup-thumbnail {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s;
    border-radius: 0.5rem;
}

.merch-popup-thumbnail.active {
    opacity: 1;
    border: 2px solid #d7336f;
}

.merch-popup-thumbnail:not(.active):hover {
    opacity: 0.7;
}

.no-scroll{
    overflow: hidden;
}

/* Mobile-specific styles */

@media (max-width: 600px) {
    .merch-title {
        font-size: 2.5rem;
    }

    .merch-popup {
        width: 95%;
        padding: 0.5rem;
    }

    .merch-popup-content {
        flex-direction: column;
    }

    .merch-popup-name {
        font-size: 1.25rem;
    }

    .merch-popup-price {
        font-size: 1rem;
    }

    .merch-popup-description {
        font-size: 0.9rem;
    }

    .merch-popup-button {
        padding: 0.5rem 1rem;
    }

    .merch-popup-thumbnail {
        width: 60px;
        height: 60px;
    }
}
