/* Container for the partner section */
.partners-container {
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 2.5rem;
}

/* Title of the partner section */
.partners-title {
    font-size: 5rem;
    color: white;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Wrapper for the infinite scrolling effect */
.partners-scroll-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* Content inside the scroll wrapper */
.partners-scroll-content {
    display: flex;
    flex-wrap: nowrap;
    width: 200%;
    animation: scroll-left 20s linear infinite;
}

/* Styling for the partners grid */
.partner-card-wrapper {
    flex: 1 0 auto;
    margin-right: 1.5rem;
}

/* Ensure images fit within their containers */
.partner-card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 150px;
}

/* Keyframes for infinite scroll animation */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (min-width: 360px) and (max-width: 1200px) {
    .partners-title {
        font-size: 2rem;
        text-align: center;
    }
}
