.timeline-container {
  background: linear-gradient(135deg, #4b0082, #8a2be2);
  position: relative;
  overflow: hidden;
  padding: 20px;
  font-family: "carbon", sans-serif;
}

.timeline-header {
  font-size: 2rem;
  font-family: "carbon", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 1.5s infinite ease-in-out;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.floating-element {
  position: absolute;
  animation: float 5s infinite ease-in-out;
  opacity: 0.7;
}

.star.star1 {
  top: 20%;
  left: 25%;
  animation-delay: 0s;
}

.star.star2 {
  top: 40%;
  left: 50%;
  animation-delay: 1s;
}

.star.star3 {
  top: 70%;
  left: 80%;
  animation-delay: 2s;
}

.floating-element.floating1 {
  top: 10%;
  left: 30%;
  width: 50px;
  height: 50px;
  background: url('./rdm/ufo.png') no-repeat center center / contain;
}

.floating-element.floating2 {
  top: 60%;
  left: 60%;
  width: 40px;
  height: 40px;
  background: url('./rdm/planet.png') no-repeat center center / contain;
}

.floating-element.floating3 {
  top: 80%;
  left: 20%;
  width: 30px;
  height: 30px;
  background: url('./rdm/planet.png') no-repeat center center / contain;
}
