.card {
  overflow: visible;
  width: 100%;
  height: 150px;
  background: transparent;
}

.content {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.front {
  border-radius: 5px;
  overflow: hidden;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: lightgray;
  font-family: 'Carbon', sans-serif;
}

.title {
  font-family: Carbon;
  font-size: 60px;
  font-weight: 400;
  line-height: 61.44px;
  text-align: inherit;
}

.title p {
  width: 100%;
}

.card-footer {
  font-family: Space Grotesk;
  font-size: 40px;
  font-weight: 700;
  line-height: 51.04px;
  text-align: inherit;
}
