.card {
  overflow: visible;
  width: 100%;
  height: 150px;
  background: transparent;
}

.content {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.front {
  border-radius: 5px;
  overflow: hidden;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: lightgray;
  font-family: 'Carbon', sans-serif;
}

.title {
  font-size: 48px;
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  color: lightgray;
}

.title p {
  width: 100%;
}

.card-footer {
  margin-top: 5px;
  font-size: 36px;
  text-align: center;
  color: lightgray;
}
